/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0;
  font-size: 14px;
  background: #040b14;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}
#footer .credits a {
  color: #800080;
  transition: 0.3s;
  font-weight: 700;
}
#footer .credits a:hover {
  color: #fff;
  text-decoration: underline;
}
