/*--------------------------------------------------------------
# lessons
--------------------------------------------------------------*/
.lessons{
  background-image: url(../img/lessons.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.lessons:before {
  content: "";
  background: rgb(5 13 24 / 50%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100%;
}
/*--------------------------------------------------------------
# lessons Details
--------------------------------------------------------------*/
.lessons-details {
  padding-top: 40px;
}

.lessons-details .lessons-details-slider img {
  width: 100%;
}

.lessons-details .lessons-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.lessons-details
  .lessons-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.lessons-details
  .lessons-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.lessons-details .lessons-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.lessons-details .lessons-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.lessons-details .lessons-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.lessons-details .lessons-info ul li + li {
  margin-top: 10px;
}

.lessons-details .lessons-description {
  padding-top: 30px;
}

.lessons-details .lessons-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.lessons-details .lessons-description p {
  padding: 0;
}