/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 30px 0;
  overflow: hidden;
}
.section-bg {
  background: #edf4ff;
}
.section-title {
  padding-bottom: 30px;
  transition: all 0.5s ease-in-out;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
  color: #173b6c;
  width: fit-content;
  border: 1px solid #149ddd;
  border-radius: 0.25rem;
  padding: 10px 40px 10px 10px;
  background-color: rgb(238 238 238 / 60%);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 20%;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 20%;
  background: #149ddd;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.section-title:hover h2::before {
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.section-title:hover h2::after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.section-title p {
  margin-bottom: 0;
  background-color: rgb(5 13 24 / 90%);
  color: #fff;
  border-radius: 0.2rem;
  padding: 10px 20px;
  margin-left: 20px;
}
